<% include partials/header %>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button class="btn btn-success">Submit</button>
</form>
<% include partials/footer %>
